Farming Challenge flows .json
[{"id":"cb87c571.f7d668","type":"tab","label":"Farming Challenge","disabled":false,"info":""},{"id":"83123ce3.32e7c","type":"ui_form","z":"cb87c571.f7d668","name":"","label":"","group":"8e731864.6308b8","order":5,"width":0,"height":0,"options":[{"label":"Nitrogen(N)","value":"N","type":"number","required":true,"rows":null},{"label":"Phosphorous(P)","value":"P","type":"number","required":true,"rows":null},{"label":"Potassium(K)","value":"K","type":"number","required":true,"rows":null},{"label":"Temperature(in Celcius)","value":"temperature","type":"number","required":true,"rows":null},{"label":"Humidity","value":"humidity","type":"number","required":true,"rows":null},{"label":"pH","value":"pH","type":"number","required":true,"rows":null},{"label":"Rainfall(in mm)","value":"rainfall","type":"number","required":true,"rows":null}],"formValue":{"N":"","P":"","K":"","temperature":"","humidity":"","pH":"","rainfall":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":40,"wires":[["7b1a3ac1.d84c94","b8e93c94.3942c"]]},{"id":"7b1a3ac1.d84c94","type":"function","z":"cb87c571.f7d668","name":"global variable for form","func":"global.set(\"N\",msg.payload.N)\nglobal.set(\"P\",msg.payload.P)\nglobal.set(\"K\",msg.payload.K)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"rainfall\",msg.payload.rainfall)\nglobal.set(\"pH\",msg.payload.pH)\nvar apikey=\"5zXMFkaWVzLDlvDjGFmn3OXppQd1Ll_WwqkpUsmYjFXN\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":120,"wires":[["49fb27d4.ea1068"]]},{"id":"b8e93c94.3942c","type":"debug","z":"cb87c571.f7d668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":20,"wires":[]},{"id":"49fb27d4.ea1068","type":"http request","z":"cb87c571.f7d668","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":240,"wires":[["7e670869.98d238","9dc494f0.0c5e38"]]},{"id":"7e670869.98d238","type":"debug","z":"cb87c571.f7d668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"9dc494f0.0c5e38","type":"function","z":"cb87c571.f7d668","name":"pre-prediction node","func":"var N = global.get(\"N\")\nvar P = global.get(\"P\")\nvar K = global.get(\"K\")\nvar temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar pH = global.get(\"pH\")\nvar rainfall = global.get(\"rainfall\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"field\": [[\"N\", \"P\", \"K\",\"temperature\", \"humidity\", \"pH\",\"rainfall\"]],\n\"values\": [[N,P,K,temperature,humidity,pH,rainfall]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":120,"wires":[["e1a458e.9b190a8"]]},{"id":"e1a458e.9b190a8","type":"http request","z":"cb87c571.f7d668","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0703c7ed-70ba-45c8-947e-1e8ccebd8bf3/predictions?version=2021-07-21","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":220,"wires":[["ce682b25.8c9568","bf7f683c.a13d18"]]},{"id":"ce682b25.8c9568","type":"debug","z":"cb87c571.f7d668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"bf7f683c.a13d18","type":"function","z":"cb87c571.f7d668","name":"final pred","func":"\n\nconst crops = ['apple', 'banana', 'blackgram', 'chickpea', 'coconut', 'coffee',\n'cotton', 'grapes', 'jute', 'kidneybeans', 'lentil', 'maize', 'mango',\n'mothbeans', 'mungbean', 'muskmelon', 'orange', 'papaya', 'pigeonpeas',\n'pomegranate', 'rice', 'watermelon']\n       \nmsg.payload = crops[msg.payload.predictions[0].values[0][0]]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["e7383d1b.12443","130d4bee.2daf34"]]},{"id":"e7383d1b.12443","type":"debug","z":"cb87c571.f7d668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"130d4bee.2daf34","type":"ui_text","z":"cb87c571.f7d668","group":"8e731864.6308b8","order":7,"width":0,"height":0,"name":"","label":"You should grow :","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":420,"wires":[]},{"id":"8e731864.6308b8","type":"ui_group","name":"Please enter the required values","tab":"7f125e4a.c28a9","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f125e4a.c28a9","type":"ui_tab","name":"Crop prediction","icon":"dashboard","disabled":false,"hidden":false}]