Yield prediction.json
[{"id":"7b00cc36.2445f4","type":"tab","label":"Yield Prediction","disabled":false,"info":""},{"id":"4d19dfff.8bddc","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":60,"wires":[]},{"id":"9631b099.4c261","type":"ui_form","z":"7b00cc36.2445f4","name":"","label":"","group":"55ec1f7b.a17a6","order":14,"width":0,"height":0,"options":[{"label":"Year Since 2010","value":"Year","type":"number","required":true,"rows":null}],"formValue":{"Year":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":140,"wires":[["547af696.2f20d8","5e5b5c8a.a40be4"]]},{"id":"47e0aaca.30a724","type":"ui_dropdown","z":"7b00cc36.2445f4","name":"","label":"Select Season","tooltip":"","place":"Select option","group":"55ec1f7b.a17a6","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Kharif","value":1,"type":"num"},{"label":"Rabi","value":2,"type":"num"},{"label":"Summer","value":3,"type":"num"},{"label":"Whole Year","value":4,"type":"num"},{"label":"Winter","value":5,"type":"num"},{"label":"Autumn","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":280,"wires":[["8e77b6af.90ab18","c866c0b0.91e78"]]},{"id":"f39ecf6a.8a018","type":"ui_dropdown","z":"7b00cc36.2445f4","name":"","label":"Select Crop","tooltip":"","place":"Select option","group":"55ec1f7b.a17a6","order":12,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Arecanut","value":0,"type":"num"},{"label":"Arhar/Tur","value":1,"type":"num"},{"label":"Bajra","value":2,"type":"num"},{"label":"Banana","value":3,"type":"num"},{"label":"Maize","value":22,"type":"num"},{"label":"Moong","value":24,"type":"num"},{"label":"Rice","value":37,"type":"num"},{"label":"Urad","value":49,"type":"num"},{"label":"Black Pepper","value":5,"type":"num"},{"label":"Cashew","value":7,"type":"num"},{"label":"Castor","value":8,"type":"num"},{"label":"Coriander","value":9,"type":"num"},{"label":"Cowpea","value":10,"type":"num"},{"label":"Dry Chillies","value":12,"type":"num"},{"label":"Garlic","value":13,"type":"num"},{"label":"Ginger","value":14,"type":"num"},{"label":"Gram","value":15,"type":"num"},{"label":"Groundnut","value":16,"type":"num"},{"label":"Guar Seed","value":17,"type":"num"},{"label":"Horse-gram","value":18,"type":"num"},{"label":"Jowar","value":19,"type":"num"},{"label":"Linseed","value":21,"type":"num"},{"label":"Nigerseed","value":26,"type":"num"},{"label":"Oilseeds total","value":27,"type":"num"},{"label":"Onion","value":28,"type":"num"},{"label":"Other Rabi Pulses","value":29,"type":"num"},{"label":"Other Kharif Pulses","value":31,"type":"num"},{"label":"Other oilseeds","value":51,"type":"num"},{"label":"Potato","value":34,"type":"num"},{"label":"Ragi","value":35,"type":"num"},{"label":"Rapeseed&Mustard","value":36,"type":"num"},{"label":"Safflower","value":38,"type":"num"},{"label":"Sesamum","value":40,"type":"num"},{"label":"Small millets","value":41,"type":"num"},{"label":"Soyabeen","value":42,"type":"num"},{"label":"Sugarcane","value":43,"type":"num"},{"label":"Sunflower","value":44,"type":"num"},{"label":"Sweet Potato","value":45,"type":"num"},{"label":"Tapioca","value":46,"type":"num"},{"label":"Tobacco","value":47,"type":"num"},{"label":"Turmeric","value":48,"type":"num"},{"label":"Wheat","value":50,"type":"num"},{"label":"Masoor","value":23,"type":"num"},{"label":"Peas & Bean","value":33,"type":"num"},{"label":"Barley","value":4,"type":"num"},{"label":"Khesari","value":20,"type":"num"},{"label":"Sannhamp","value":39,"type":"num"},{"label":"Moth","value":25,"type":"num"},{"label":"Other Cereals","value":30,"type":"num"},{"label":"Dry Ginger","value":11,"type":"num"},{"label":"Cardamom","value":6,"type":"num"},{"label":"Other summer pulses","value":32,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":90,"y":440,"wires":[["3a79f673.ed894a","3dfc0ac8.624556"]]},{"id":"ca2b514c.5b767","type":"ui_dropdown","z":"7b00cc36.2445f4","name":"","label":"Select District","tooltip":"","place":"Select option","group":"55ec1f7b.a17a6","order":13,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"AN - North & Middle Andaman","value":460,"type":"num"},{"label":"AN - South Andamans","value":598,"type":"num"},{"label":"AN - Nicobars","value":457,"type":"num"},{"label":"AP - Anantapur","value":25,"type":"num"},{"label":"AP - East Godavari","value":182,"type":"num"},{"label":"AP - Krishna","value":356,"type":"num"},{"label":"AP - West Godavari","value":678,"type":"num"},{"label":"AP - Adilabad","value":2,"type":"num"},{"label":"AP - Chittoor","value":128,"type":"num"},{"label":"AP - Guntur","value":228,"type":"num"},{"label":"AP - Kadapa","value":289,"type":"num"},{"label":"AP - Karimnagar","value":314,"type":"num"},{"label":"AP - Khammam","value":326,"type":"num"},{"label":"AP - Kurnool","value":361,"type":"num"},{"label":"AP - Mahbubnagar","value":389,"type":"num"},{"label":"AP - Medak","value":410,"type":"num"},{"label":"AP - Nalgonda","value":442,"type":"num"},{"label":"AP - Nizamabad","value":459,"type":"num"},{"label":"AP - Prakasam","value":496,"type":"num"},{"label":"AP - Rangareddy","value":524,"type":"num"},{"label":"AP - SPSR Nellore","value":605,"type":"num"},{"label":"AP - Srikakulam","value":606,"type":"num"},{"label":"AP - Vishakapatnam","value":668,"type":"num"},{"label":"AP - Vizianagaram","value":669,"type":"num"},{"label":"AP - Warangal","value":671,"type":"num"},{"label":"AR - Dibang Valley","value":166,"type":"num"},{"label":"AR - East Kameng","value":184,"type":"num"},{"label":"AR - East Siang","value":186,"type":"num"},{"label":"AR - Kamle","value":296,"type":"num"},{"label":"AR - Lohit","value":374,"type":"num"},{"label":"AR - Longding","value":375,"type":"num"},{"label":"AR - Lower Dibang Valley","value":377,"type":"num"},{"label":"AR - Lower Siang","value":378,"type":"num"},{"label":"AR - Lower Subansiri","value":379,"type":"num"},{"label":"AR - Namsai","value":444,"type":"num"},{"label":"AR - Papum Pare","value":477,"type":"num"},{"label":"AR - Siang","value":576,"type":"num"},{"label":"AR - Tirap","value":635,"type":"num"},{"label":"AR - Upper Siang","value":655,"type":"num"},{"label":"AR - Upper Subansiri","value":656,"type":"num"},{"label":"AR - West Siang","value":682,"type":"num"},{"label":"AR - Anjaw","value":27,"type":"num"},{"label":"AR - Changlang","value":116,"type":"num"},{"label":"AR - Kra Daddi","value":355,"type":"num"},{"label":"AR - Kurung Kumey","value":363,"type":"num"},{"label":"AR - Tawang","value":620,"type":"num"},{"label":"AR - West Kameng","value":680,"type":"num"},{"label":"AS - Baksa","value":43,"type":"num"},{"label":"AS - Barpeta","value":65,"type":"num"},{"label":"AS - Bongaigaon","value":97,"type":"num"},{"label":"AS - Cachar","value":106,"type":"num"},{"label":"AS - Chirang","value":125,"type":"num"},{"label":"AS - Darrang","value":144,"type":"num"},{"label":"AS - Dhemaji","value":161,"type":"num"},{"label":"AS - Dhubri","value":164,"type":"num"},{"label":"AS - Dibrugarh","value":167,"type":"num"},{"label":"AS - Dima Hasao","value":168,"type":"num"},{"label":"AS - Goalpara","value":217,"type":"num"},{"label":"AS - Golaghat","value":219,"type":"num"},{"label":"AS - Hailakandi","value":232,"type":"num"},{"label":"AS - Jorhat","value":285,"type":"num"},{"label":"AS - Kamrup","value":297,"type":"num"},{"label":"AS - Kamrup Metro","value":298,"type":"num"},{"label":"AS - Karbi Anglong","value":311,"type":"num"},{"label":"AS - Karimganj","value":313,"type":"num"},{"label":"AS - Kokrajhar","value":341,"type":"num"},{"label":"AS - Lakhimpur","value":366,"type":"num"},{"label":"AS - Marigaon","value":406,"type":"num"},{"label":"AS - Nagaon","value":434,"type":"num"},{"label":"AS - Nalbari","value":441,"type":"num"},{"label":"AS - Sivsagar","value":590,"type":"num"},{"label":"AS - Sonitpur","value":597,"type":"num"},{"label":"AS - Tinsukia","value":634,"type":"num"},{"label":"AS - Udalguri","value":645,"type":"num"},{"label":"BR - Araria","value":30,"type":"num"},{"label":"BR - Arwal","value":33,"type":"num"},{"label":"BR - Aurangabad","value":36,"type":"num"},{"label":"BR - Banka","value":55,"type":"num"},{"label":"BR - Begusarai","value":71,"type":"num"},{"label":"BR - Bhagalpur","value":79,"type":"num"},{"label":"BR - Bhojpur","value":87,"type":"num"},{"label":"BR - Buxar","value":105,"type":"num"},{"label":"BR - Darbhanga","value":142,"type":"num"},{"label":"BR - Gaya","value":212,"type":"num"},{"label":"BR - Gopalganj","value":223,"type":"num"},{"label":"BR - Jamui","value":268,"type":"num"},{"label":"BR - Jehanabad","value":274,"type":"num"},{"label":"BR - Kaimur","value":290,"type":"num"},{"label":"BR - Katihar","value":320,"type":"num"},{"label":"BR - Khagaria","value":325,"type":"num"},{"label":"BR - Kishanganj","value":336,"type":"num"},{"label":"BR -  Lakhisarai","value":367,"type":"num"},{"label":"BR - Madhepura","value":383,"type":"num"},{"label":"BR - Madhubani","value":384,"type":"num"},{"label":"BR - Munger","value":427,"type":"num"},{"label":"BR - Muzaffarpur","value":430,"type":"num"},{"label":"BR - Nalanda","value":440,"type":"num"},{"label":"BR - Nawada","value":453,"type":"num"},{"label":"BR - Pashchim Champaran","value":480,"type":"num"},{"label":"BR - Patna","value":485,"type":"num"},{"label":"BR - Purbi Champaran","value":502,"type":"num"},{"label":"BR - Purnia","value":504,"type":"num"},{"label":"BR - Rohtas","value":534,"type":"num"},{"label":"BR - Saharsa","value":541,"type":"num"},{"label":"BR - Samastipur","value":545,"type":"num"},{"label":"BR - Saran","value":555,"type":"num"},{"label":"BR - Sheikpura","value":568,"type":"num"},{"label":"BR - Sheohar","value":569,"type":"num"},{"label":"BR - Sitamarhi","value":587,"type":"num"},{"label":"BR - Siwan","value":591,"type":"num"},{"label":"BR - Supaul","value":611,"type":"num"},{"label":"BR - Vaishali","value":660,"type":"num"},{"label":"CH - Chandigarh","value":114,"type":"num"},{"label":"CT - Balod","value":48,"type":"num"},{"label":"CT - Baloda Bazar","value":49,"type":"num"},{"label":"CT - Balrampur","value":50,"type":"num"},{"label":"CT - Bastar","value":67,"type":"num"},{"label":"CT - Bemetara","value":74,"type":"num"},{"label":"CT - Bijapur","value":90,"type":"num"},{"label":"CT - Bilaspur","value":93,"type":"num"},{"label":"CT - Dantewada","value":141,"type":"num"},{"label":"CT - Dhamtari","value":156,"type":"num"},{"label":"CT - Durg","value":179,"type":"num"},{"label":"CT - Gariyaband","value":210,"type":"num"},{"label":"CT - Janjgir - Champa","value":270,"type":"num"},{"label":"CT - Jashpur","value":271,"type":"num"},{"label":"CT - Kabirdham","value":287,"type":"num"},{"label":"CT - Kanker","value":302,"type":"num"},{"label":"CT - Kondagaon","value":347,"type":"num"},{"label":"CT - Korba","value":350,"type":"num"},{"label":"CT - Korea","value":351,"type":"num"},{"label":"CT - Mahasamund","value":388,"type":"num"},{"label":"CT - Mungeli","value":426,"type":"num"},{"label":"CT - Narayanpur","value":448,"type":"num"},{"label":"CT - Raigarh","value":509,"type":"num"},{"label":"CT - Raipur","value":510,"type":"num"},{"label":"CT - Rajnandgaon","value":516,"type":"num"},{"label":"CT - Sukma","value":608,"type":"num"},{"label":"CT - Surajpur","value":612,"type":"num"},{"label":"CT - Surguja","value":615,"type":"num"},{"label":"GA - North Goa","value":463,"type":"num"},{"label":"GA - South Goa","value":601,"type":"num"},{"label":"GJ - Ahmedabad","value":5,"type":"num"},{"label":"GJ - Amreli","value":21,"type":"num"},{"label":"GJ - Anand","value":24,"type":"num"},{"label":"GJ - Aravalli","value":31,"type":"num"},{"label":"GJ - Banas Kantha","value":51,"type":"num"},{"label":"GJ - Bharuch","value":82,"type":"num"},{"label":"GJ - Bhavnagar","value":83,"type":"num"},{"label":"GJ - Botad","value":98,"type":"num"},{"label":"GJ - Chhotaudepur","value":122,"type":"num"},{"label":"GJ - Dang","value":140,"type":"num"},{"label":"GJ - Gandhinagar","value":206,"type":"num"},{"label":"GJ - Gir Somnath","value":215,"type":"num"},{"label":"GJ - Jamnagar","value":266,"type":"num"},{"label":"GJ - Janagadh","value":286,"type":"num"},{"label":"GJ - Kachchh","value":288,"type":"num"},{"label":"GJ - Kheda","value":329,"type":"num"},{"label":"GJ - Mahesana","value":392,"type":"num"},{"label":"GJ - Mahisagar","value":393,"type":"num"},{"label":"GJ - Morbi","value":421,"type":"num"},{"label":"GJ - Narmada","value":449,"type":"num"},{"label":"GJ - Navsari","value":452,"type":"num"},{"label":"GJ - Panch Mahals","value":473,"type":"num"},{"label":"GJ - Patan","value":481,"type":"num"},{"label":"GJ - Porbandar","value":495,"type":"num"},{"label":"GJ - Rajkot","value":515,"type":"num"},{"label":"GJ - Sabar Kantha","value":538,"type":"num"},{"label":"GJ - Surat","value":613,"type":"num"},{"label":"GJ - Surendranagar","value":614,"type":"num"},{"label":"GJ - Tapi","value":618,"type":"num"},{"label":"GJ - Vadodara","value":659,"type":"num"},{"label":"GJ - Valsad","value":661,"type":"num"},{"label":"HR - Bhiwani","value":86,"type":"num"},{"label":"HR - Chakri Dadri","value":117,"type":"num"},{"label":"HR - Faridabad","value":193,"type":"num"},{"label":"HR - Fatehabad","value":196,"type":"num"},{"label":"HR - Gurgaon","value":230,"type":"num"},{"label":"HR - Hisar","value":244,"type":"num"},{"label":"HR - Jhajjar","value":276,"type":"num"},{"label":"HR - Jind","value":282,"type":"num"},{"label":"HR - Karnal","value":315,"type":"num"},{"label":"HR - Mahendragarh","value":391,"type":"num"},{"label":"HR - Mewat","value":415,"type":"num"},{"label":"HR - Palwal","value":472,"type":"num"},{"label":"HR - Panipat","value":475,"type":"num"},{"label":"HR - Rewari","value":531,"type":"num"},{"label":"HR - Rohtak","value":533,"type":"num"},{"label":"HR - Sirsa","value":586,"type":"num"},{"label":"HR - Sonipat","value":596,"type":"num"},{"label":"HR - Kaithal","value":291,"type":"num"},{"label":"HR - Panchkula","value":474,"type":"num"},{"label":"HR - Yamunanagar","value":688,"type":"num"},{"label":"HR - Ambala","value":17,"type":"num"},{"label":"HR - Kurukshetra","value":362,"type":"num"},{"label":"HP - Chamba","value":108,"type":"num"},{"label":"HP - Kullu","value":359,"type":"num"},{"label":"HP - Shimla","value":571,"type":"num"},{"label":"HP - Sirmaur","value":584,"type":"num"},{"label":"HP - Hamirpur","value":233,"type":"num"},{"label":"HP - Kangra","value":301,"type":"num"},{"label":"HP - Mandi","value":401,"type":"num"},{"label":"HP - Una","value":652,"type":"num"},{"label":"HP - Kinnaur","value":334,"type":"num"},{"label":"HP - Lahaul & Spiti","value":365,"type":"num"},{"label":"HP - Solan","value":592,"type":"num"},{"label":"JH - Bokaro","value":96,"type":"num"},{"label":"JH - Chatra","value":118,"type":"num"},{"label":"JH - Deoghar","value":151,"type":"num"},{"label":"JH - Dhanbad","value":157,"type":"num"},{"label":"JH - Dumka","value":177,"type":"num"},{"label":"JH - East Singbhum","value":187,"type":"num"},{"label":"JH - Garhwa","value":209,"type":"num"},{"label":"JH - Giridh","value":216,"type":"num"},{"label":"JH - Godda","value":218,"type":"num"},{"label":"JH - Gumla","value":226,"type":"num"},{"label":"JH - Hazaribagh","value":242,"type":"num"},{"label":"JH - Jamtara","value":267,"type":"num"},{"label":"JH - Khunti","value":333,"type":"num"},{"label":"JH - Koderma","value":339,"type":"num"},{"label":"JH - Latehar","value":369,"type":"num"},{"label":"JH - Lohardaga","value":373,"type":"num"},{"label":"JH - Pakur","value":467,"type":"num"},{"label":"JH - Palamu","value":469,"type":"num"},{"label":"JH - Ramgarh","value":521,"type":"num"},{"label":"JH - Ranchi","value":523,"type":"num"},{"label":"JH - Sahebganj","value":542,"type":"num"},{"label":"JH - Saraikela Kharsawan","value":554,"type":"num"},{"label":"JH - Simdega","value":581,"type":"num"},{"label":"JH - West Singbhum","value":683,"type":"num"},{"label":"KA - Bangalore Rural","value":54,"type":"num"},{"label":"KA - Belgaum","value":72,"type":"num"},{"label":"KA - Bellary","value":73,"type":"num"},{"label":"KA - Bengaluru Urban","value":75,"type":"num"},{"label":"KA - Chamarajanagar","value":107,"type":"num"},{"label":"KA - Chikballapur","value":123,"type":"num"},{"label":"KA - Chikmagalur","value":124,"type":"num"},{"label":"KA - Chitradurga","value":126,"type":"num"},{"label":"KA - Dakshin Kannad","value":137,"type":"num"},{"label":"KA - Davangere","value":147,"type":"num"},{"label":"KA - Dharwad","value":160,"type":"num"},{"label":"KA - Gadag","value":202,"type":"num"},{"label":"KA - Gulbarga","value":225,"type":"num"},{"label":"KA - Hassan","value":239,"type":"num"},{"label":"KA - Haveri","value":241,"type":"num"},{"label":"KA - Kodagu","value":338,"type":"num"},{"label":"KA - Kolar","value":342,"type":"num"},{"label":"KA - Mandya","value":404,"type":"num"},{"label":"KA - Mysore","value":431,"type":"num"},{"label":"KA - Ramanagara","value":518,"type":"num"},{"label":"KA - Shimoga","value":572,"type":"num"},{"label":"KA - Tumkur","value":643,"type":"num"},{"label":"KA - Udupi","value":648,"type":"num"},{"label":"KA - Uttar Kannada","value":657,"type":"num"},{"label":"KA - Bagalkot","value":39,"type":"num"},{"label":"KA - Bidar","value":89,"type":"num"},{"label":"KA - Koppal","value":348,"type":"num"},{"label":"KA - Raichur","value":507,"type":"num"},{"label":"KA - Yadgir","value":687,"type":"num"},{"label":"KL - Alappuzha","value":10,"type":"num"},{"label":"KL - Ernakulam","value":188,"type":"num"},{"label":"KL - Idduki","value":249,"type":"num"},{"label":"KL - Kannur","value":305,"type":"num"},{"label":"KL - Kasargod","value":317,"type":"num"},{"label":"KL - Kollam","value":345,"type":"num"},{"label":"KL - Kottayam","value":353,"type":"num"},{"label":"KL - Kozhikode","value":354,"type":"num"},{"label":"KL - Malappuram","value":396,"type":"num"},{"label":"KL - Palakkad","value":468,"type":"num"},{"label":"KL - Pathanamthitta","value":482,"type":"num"},{"label":"KL - Trivandum","value":628,"type":"num"},{"label":"KL - Thrissur","value":632,"type":"num"},{"label":"KL- Wayanad","value":675,"type":"num"},{"label":"MP - Agar Malwa","value":3,"type":"num"},{"label":"MP - Alirajpur","value":13,"type":"num"},{"label":"MP - Annupur","value":29,"type":"num"},{"label":"MP - Ashoknagar","value":34,"type":"num"},{"label":"MP - Balaghat","value":44,"type":"num"},{"label":"MP - Barwani","value":66,"type":"num"},{"label":"MP - Betul","value":76,"type":"num"},{"label":"MP - Bhind","value":85,"type":"num"},{"label":"MP - Bhopal","value":88,"type":"num"},{"label":"MP - Burhanpur","value":104,"type":"num"},{"label":"MP - Chhatarpur","value":120,"type":"num"},{"label":"Chhindwara","value":121,"type":"num"},{"label":"Damoh","value":139,"type":"num"},{"label":"MP - Datia","value":145,"type":"num"},{"label":"MP - Dewas","value":154,"type":"num"},{"label":"MP - Dhar","value":158,"type":"num"},{"label":"MP - Dindori","value":173,"type":"num"},{"label":"MP - Guna","value":227,"type":"num"},{"label":"MP - Gwalior","value":231,"type":"num"},{"label":"MP - Harda","value":236,"type":"num"},{"label":"MP - Hoshangabad","value":246,"type":"num"},{"label":"MP - Indore","value":252,"type":"num"},{"label":"MP - Jabalpur","value":253,"type":"num"},{"label":"MP - Jhabua","value":275,"type":"num"},{"label":"MP - Katni","value":321,"type":"num"},{"label":"MP - Khandwa","value":327,"type":"num"},{"label":"MP - Khargone","value":328,"type":"num"},{"label":"MP - Mandla","value":402,"type":"num"},{"label":"MP - Mandsaur","value":403,"type":"num"},{"label":"MP - Morena","value":422,"type":"num"},{"label":"MP - Narsinghpur","value":450,"type":"num"},{"label":"MP - Neemuch","value":456,"type":"num"},{"label":"MP - Panna","value":476,"type":"num"},{"label":"MP - Raisen","value":511,"type":"num"},{"label":"MP - Rajgarh","value":514,"type":"num"},{"label":"MP - Ratlam","value":526,"type":"num"},{"label":"MP - Rewa","value":530,"type":"num"},{"label":"MP - Sagar","value":539,"type":"num"},{"label":"MP - Satna","value":557,"type":"num"},{"label":"MP - Sehore","value":559,"type":"num"},{"label":"MP - Seoni","value":561,"type":"num"},{"label":"MP - Shahdol","value":564,"type":"num"},{"label":"MP - Shajapur","value":566,"type":"num"},{"label":"MP - Sheopur","value":570,"type":"num"},{"label":"MP - Shivpuri","value":573,"type":"num"},{"label":"MP - Sidhi","value":579,"type":"num"},{"label":"MP - Singrauli","value":583,"type":"num"},{"label":"MP - Tikamgarh","value":633,"type":"num"},{"label":"MP - Ujjain","value":649,"type":"num"},{"label":"MP - Umaria","value":651,"type":"num"},{"label":"MP - Vidisha","value":664,"type":"num"},{"label":"MH - Akola","value":9,"type":"num"},{"label":"MH - Amravati","value":20,"type":"num"},{"label":"MH - Beed","value":70,"type":"num"},{"label":"MH - Bhandara","value":80,"type":"num"},{"label":"MH - Buldhana","value":102,"type":"num"},{"label":"MH - Chandrapur","value":115,"type":"num"},{"label":"MH - Dhule","value":165,"type":"num"},{"label":"MH - Gadchiroli","value":203,"type":"num"},{"label":"MH - Gondia","value":222,"type":"num"},{"label":"MH - Hingoli","value":243,"type":"num"},{"label":"MH - Jalgaon","value":261,"type":"num"},{"label":"MH - Jalna","value":262,"type":"num"},{"label":"MH - Kohlapur","value":344,"type":"num"},{"label":"MH - Latur","value":370,"type":"num"},{"label":"MH - Nagpur","value":438,"type":"num"},{"label":"MH - Nanded","value":445,"type":"num"},{"label":"MH - Nandurbar","value":446,"type":"num"},{"label":"MH - Palghar","value":470,"type":"num"},{"label":"MH - Parbhani","value":478,"type":"num"},{"label":"MH - Pune","value":500,"type":"num"},{"label":"MH - Raigad","value":508,"type":"num"},{"label":"MH - Ratnagiri","value":527,"type":"num"},{"label":"MH - Sangli","value":550,"type":"num"},{"label":"MH - Satara","value":556,"type":"num"},{"label":"MH - Solapur","value":593,"type":"num"},{"label":"MH - Thane","value":623,"type":"num"},{"label":"MH - Wardha","value":673,"type":"num"},{"label":"MH - Wasim","value":674,"type":"num"},{"label":"MH - Yavatmal","value":690,"type":"num"},{"label":"MH - Sindhudurg","value":582,"type":"num"},{"label":"MH - Mumbai suburban","value":425,"type":"num"},{"label":"MN - Bishnupur","value":95,"type":"num"},{"label":"MN - Chandel","value":113,"type":"num"},{"label":"MN - Imphal East","value":250,"type":"num"},{"label":"MN - Imphal West","value":251,"type":"num"},{"label":"MN - Senapati","value":560,"type":"num"},{"label":"MN - Tamenglong","value":617,"type":"num"},{"label":"MN - Thoubal","value":631,"type":"num"},{"label":"MN - Ukhrul","value":650,"type":"num"},{"label":"ML - East Garo Hills","value":181,"type":"num"},{"label":"ML - East Jaintia Hills","value":183,"type":"num"},{"label":"ML - East Khasi Hills","value":185,"type":"num"},{"label":"ML - North Garo Hills","value":462,"type":"num"},{"label":"ML - Ri Bhoi","value":532,"type":"num"},{"label":"ML - South Garo Hills","value":600,"type":"num"},{"label":"ML - South West Garo Hills","value":603,"type":"num"},{"label":"ML - South West Khasi Hills","value":604,"type":"num"},{"label":"ML- West Garo Hills","value":677,"type":"num"},{"label":"ML - West Jaintia Hills","value":679,"type":"num"},{"label":"ML - West Khasi Hills","value":681,"type":"num"},{"label":"MZ - Aizwal","value":7,"type":"num"},{"label":"MZ - Champai","value":111,"type":"num"},{"label":"MZ - Kolasib ","value":343,"type":"num"},{"label":"MZ - Lawngtlai","value":371,"type":"num"},{"label":"MZ - Lunglei","value":382,"type":"num"},{"label":"MZ - Mamit","value":399,"type":"num"},{"label":"MZ - Saiha","value":543,"type":"num"},{"label":"MZ - Serchhip","value":563,"type":"num"},{"label":"NL - Dimapur","value":169,"type":"num"},{"label":"NL - Kiphire","value":335,"type":"num"},{"label":"NL - Kohima","value":340,"type":"num"},{"label":"NL - Longleng","value":376,"type":"num"},{"label":"NL - Mokukchung","value":418,"type":"num"},{"label":"NL - Mon","value":419,"type":"num"},{"label":"NL - Peren","value":489,"type":"num"},{"label":"NL - Phek","value":490,"type":"num"},{"label":"NL - Tuensang","value":642,"type":"num"},{"label":"NL - Wokha","value":685,"type":"num"},{"label":"NL - Zunheboto","value":691,"type":"num"},{"label":"OD - Anugul","value":28,"type":"num"},{"label":"OD - Balangir","value":45,"type":"num"},{"label":"OD - Baleshwar","value":46,"type":"num"},{"label":"OD - Bargah","value":62,"type":"num"},{"label":"OD - Bhadrak","value":78,"type":"num"},{"label":"OD - Boudh","value":99,"type":"num"},{"label":"OD - Cuttack","value":135,"type":"num"},{"label":"OD - Deogarh","value":150,"type":"num"},{"label":"OD - Dhenkankal","value":162,"type":"num"},{"label":"OD - Gajapati","value":204,"type":"num"},{"label":"OD - Ganjam","value":208,"type":"num"},{"label":"OD - Jagatsinghapur","value":254,"type":"num"},{"label":"OD - Jajapur","value":258,"type":"num"},{"label":"OD - Jharsuguda","value":280,"type":"num"},{"label":"OD - Kalahandi","value":292,"type":"num"},{"label":"OD - Kandhamal","value":300,"type":"num"},{"label":"OD - Kendrapara","value":323,"type":"num"},{"label":"OD - Kendujhar","value":324,"type":"num"},{"label":"OD - Khordha","value":331,"type":"num"},{"label":"OD - Koraput","value":349,"type":"num"},{"label":"OD - Malkangiri","value":398,"type":"num"},{"label":"OD - Mayurbhanj","value":409,"type":"num"},{"label":"OD - Nabarangpur","value":432,"type":"num"},{"label":"OD - Nayagarh","value":455,"type":"num"},{"label":"OD - Naupada","value":465,"type":"num"},{"label":"OD - Puri","value":503,"type":"num"},{"label":"OD - Rayagada","value":528,"type":"num"},{"label":"OD - Sambalpur","value":547,"type":"num"},{"label":" OD - Sonepur","value":595,"type":"num"},{"label":"OD - Sundargarh","value":610,"type":"num"},{"label":"PB - Amritsar","value":22,"type":"num"},{"label":"PB - Barnala","value":64,"type":"num"},{"label":"PB - Bathinda","value":69,"type":"num"},{"label":"PB - Faridkot","value":194,"type":"num"},{"label":"PB - Fazilka","value":199,"type":"num"},{"label":"PB - Firozepur","value":201,"type":"num"},{"label":"PB - Hoshiarpur","value":247,"type":"num"},{"label":"PB - Jalandhar","value":259,"type":"num"},{"label":"PB - Ludhiana","value":381,"type":"num"},{"label":"PB - Mansa","value":405,"type":"num"},{"label":"PB - Moga","value":417,"type":"num"},{"label":"PB - Muktsar","value":423,"type":"num"},{"label":"PB - Patiala","value":484,"type":"num"},{"label":"PB - Rupnagar","value":536,"type":"num"},{"label":"PB - SAS Nagar","value":537,"type":"num"},{"label":"PB - Sangrur","value":551,"type":"num"},{"label":"PB - Tarn Taran","value":619,"type":"num"},{"label":"PB - Kapurthala","value":308,"type":"num"},{"label":"PB - Fatehgarh Sahib","value":197,"type":"num"},{"label":"PB - Pathankot","value":483,"type":"num"},{"label":"PB - Gurdaspur","value":229,"type":"num"},{"label":"PB - Nawanshahr","value":454,"type":"num"},{"label":"RJ - Ajmer","value":8,"type":"num"},{"label":"RJ - Alwar","value":16,"type":"num"},{"label":"RJ - Banswara","value":57,"type":"num"},{"label":"RJ - Baran","value":60,"type":"num"},{"label":"RJ - Bharatpur","value":81,"type":"num"},{"label":"RJ - Bhilwara","value":84,"type":"num"},{"label":"RJ - Bikaner","value":92,"type":"num"},{"label":"RJ - Bundi","value":103,"type":"num"},{"label":"RJ - Chittorgarh","value":129,"type":"num"},{"label":"RJ - Dausa","value":146,"type":"num"},{"label":"RJ - Dholpur","value":163,"type":"num"},{"label":"RJ - Dungarpur","value":178,"type":"num"},{"label":"RJ - Ganganagar","value":207,"type":"num"},{"label":"RJ - Hanumangarh","value":234,"type":"num"},{"label":"RJ - Jaipur","value":256,"type":"num"},{"label":"RJ - Jaisalmer","value":257,"type":"num"},{"label":"RJ - Jalore","value":263,"type":"num"},{"label":"RJ - Jhalawar","value":277,"type":"num"},{"label":"RJ - Jodhpur","value":283,"type":"num"},{"label":"RJ - Karauli","value":310,"type":"num"},{"label":"RJ - Kota","value":352,"type":"num"},{"label":"RJ - Pali","value":471,"type":"num"},{"label":"RJ - Pratapgarh","value":497,"type":"num"},{"label":"RJ - Rajsamand","value":517,"type":"num"},{"label":"RJ - Sawai Madhopur","value":558,"type":"num"},{"label":"RJ - Sikhar","value":580,"type":"num"},{"label":"RJ - Sirohi","value":585,"type":"num"},{"label":"RJ - Tonk","value":641,"type":"num"},{"label":"RJ - Udaipur","value":644,"type":"num"},{"label":"RJ - Barmer","value":63,"type":"num"},{"label":"RJ - Churu","value":131,"type":"num"},{"label":"RJ - Jhunjunu","value":281,"type":"num"},{"label":"RJ - Nagaur","value":437,"type":"num"},{"label":"SK - East","value":180,"type":"num"},{"label":"SK - North","value":461,"type":"num"},{"label":"SK - South","value":599,"type":"num"},{"label":"SK - West","value":676,"type":"num"},{"label":"TN - Ariyalur","value":32,"type":"num"},{"label":"TN - Coimbatore","value":132,"type":"num"},{"label":"TN - Cuddalore","value":134,"type":"num"},{"label":"TN - Dharmapuri","value":159,"type":"num"},{"label":"TN - Dindigul","value":172,"type":"num"},{"label":"TN - Erode","value":189,"type":"num"},{"label":"TN - Kanniyakumari","value":304,"type":"num"},{"label":"TN - Karur","value":316,"type":"num"},{"label":"TN - Krishnagiri","value":357,"type":"num"},{"label":"TN - Madurai","value":385,"type":"num"},{"label":"TN - Nagapattinam","value":435,"type":"num"},{"label":"TN - Namakkal","value":443,"type":"num"},{"label":"TN - Perambalur","value":488,"type":"num"},{"label":"TN - Salem","value":544,"type":"num"},{"label":"TN - Thanjavur","value":624,"type":"num"},{"label":"TN - The Nilgiris","value":625,"type":"num"},{"label":"TN - Theni","value":626,"type":"num"},{"label":"TN - Thiruvarur","value":629,"type":"num"},{"label":"TN - Tiruchirappalli","value":636,"type":"num"},{"label":"TN - Tirunelveli","value":637,"type":"num"},{"label":"TN - Tiruppur","value":639,"type":"num"},{"label":"TN - Tiruvannamalai","value":640,"type":"num"},{"label":"TN - Vellore","value":663,"type":"num"},{"label":"TN - Villupuram","value":666,"type":"num"},{"label":"TN - Virudhunagar","value":667,"type":"num"},{"label":"TN - Kanchipuram","value":299,"type":"num"},{"label":"TN - Pudukkottai","value":498,"type":"num"},{"label":"TN - Ramanathapuram","value":519,"type":"num"},{"label":"TN - Sivaganga","value":589,"type":"num"},{"label":"TN - Thiruvallur","value":627,"type":"num"},{"label":"TN - Thoothukudi","value":630,"type":"num"},{"label":"TN - Kallakurichi","value":294,"type":"num"},{"label":"TN - Tenkasi","value":622,"type":"num"},{"label":"TN - Tirupathur","value":638,"type":"num"},{"label":"TN - Chengalpattu","value":119,"type":"num"},{"label":"TN - Ranipet","value":525,"type":"num"},{"label":"TG - Bhadradri","value":77,"type":"num"},{"label":"TG - Jagitial","value":255,"type":"num"},{"label":"TG - Jangaon","value":269,"type":"num"},{"label":"TG - Jayashankar","value":273,"type":"num"},{"label":"TG - Jogulamba","value":284,"type":"num"},{"label":"TG - Kamareddy","value":295,"type":"num"},{"label":"TG - KB Asifabad","value":346,"type":"num"},{"label":"TG - Mahabubabad","value":386,"type":"num"},{"label":"TG - Mancherial","value":400,"type":"num"},{"label":"TG - Medchal","value":411,"type":"num"},{"label":"TG - Mulugu","value":424,"type":"num"},{"label":"TG - Nagarkurnool","value":436,"type":"num"},{"label":"TG - Narayanapet","value":447,"type":"num"},{"label":"TG - Nirmal","value":458,"type":"num"},{"label":"TG - Peddapalli","value":487,"type":"num"},{"label":"TG - Rajanna","value":512,"type":"num"},{"label":"TG - Sangareddy","value":549,"type":"num"},{"label":"TG - Siddipet","value":578,"type":"num"},{"label":"TG - Suryapet","value":616,"type":"num"},{"label":"TG -  Vikarabad","value":665,"type":"num"},{"label":"TG - Wanaparthy","value":670,"type":"num"},{"label":"TG - Warangal Urban","value":672,"type":"num"},{"label":"TG - Yadadri","value":686,"type":"num"},{"label":"TR - Dhalai","value":155,"type":"num"},{"label":"TR - Gomati","value":220,"type":"num"},{"label":"TR - Khowai","value":332,"type":"num"},{"label":"TR - North Tripura","value":464,"type":"num"},{"label":"TR - Sepahijala","value":562,"type":"num"},{"label":"TR - South Tripura","value":602,"type":"num"},{"label":"TR - Unakoti","value":653,"type":"num"},{"label":"TR - West Tripura","value":684,"type":"num"},{"label":"UK - Almora","value":15,"type":"num"},{"label":"UK - Bageshwar","value":40,"type":"num"},{"label":"UK - Chamoli","value":109,"type":"num"},{"label":"UK - Champawat","value":110,"type":"num"},{"label":"UK - Dehradun","value":148,"type":"num"},{"label":"UK - Nainital","value":439,"type":"num"},{"label":"UK - Pauri Garhwal","value":486,"type":"num"},{"label":"UK - Pithoragarh","value":492,"type":"num"},{"label":"UK - Rudra Prayag","value":535,"type":"num"},{"label":"UK - Tehri Garhwal","value":621,"type":"num"},{"label":"UK - Udham Singh Nagar","value":646,"type":"num"},{"label":"UK - Uttar Kashi","value":658,"type":"num"},{"label":"UK - Haridwar","value":238,"type":"num"},{"label":"UP - Agra","value":4,"type":"num"},{"label":"UP - Aligarh","value":11,"type":"num"},{"label":"UP - Allahabad","value":14,"type":"num"},{"label":"UP - Ambedkar Nagar","value":18,"type":"num"},{"label":"UP - Amethi","value":19,"type":"num"},{"label":"UP - Amroha","value":23,"type":"num"},{"label":"UP - Auriya","value":35,"type":"num"},{"label":"UP - Azamgarh","value":37,"type":"num"},{"label":"UP - Baghpat","value":41,"type":"num"},{"label":"UP - Bahraich","value":42,"type":"num"},{"label":"UP - Ballia","value":47,"type":"num"},{"label":"UP - Banda","value":52,"type":"num"},{"label":"UP - Barabanki","value":58,"type":"num"},{"label":"UP - Bareily","value":61,"type":"num"},{"label":"UP - Basti","value":68,"type":"num"},{"label":"UP - Bijnor","value":91,"type":"num"},{"label":"UP - Budaun","value":100,"type":"num"},{"label":"UP - Bulandshahr","value":101,"type":"num"},{"label":"UP - Chandauli","value":112,"type":"num"},{"label":"UP - Chitrakoot","value":127,"type":"num"},{"label":"UP - Deoria","value":152,"type":"num"},{"label":"UP - Etah","value":190,"type":"num"},{"label":"UP - Etawah","value":191,"type":"num"},{"label":"UP - Faizabad","value":192,"type":"num"},{"label":"UP - Farrukhabad","value":195,"type":"num"},{"label":"UP - Fatehpur","value":198,"type":"num"},{"label":"UP - Firozabad","value":200,"type":"num"},{"label":"UP - GB Nagar","value":211,"type":"num"},{"label":"UP - Ghaziabad","value":213,"type":"num"},{"label":"UP - Ghazipur","value":214,"type":"num"},{"label":"UP - Gonda","value":221,"type":"num"},{"label":"UP - Gorakhpur","value":224,"type":"num"},{"label":"UP - Hapur","value":235,"type":"num"},{"label":"UP - Hardoi","value":237,"type":"num"},{"label":"UP - Hathras","value":240,"type":"num"},{"label":"UP - Jalaun","value":260,"type":"num"},{"label":"UP - Jaunpur","value":272,"type":"num"},{"label":"UP - Jhansi","value":278,"type":"num"},{"label":"UP - Kannauj","value":303,"type":"num"},{"label":"UP - Kanpur Dehat","value":306,"type":"num"},{"label":"UP - Kanpur Nagar","value":307,"type":"num"},{"label":"UP - Kasganj","value":318,"type":"num"},{"label":"UP - Kaushambi","value":322,"type":"num"},{"label":"UP - Kheri","value":330,"type":"num"},{"label":"UP - Kushi Nagar","value":364,"type":"num"},{"label":"UP - Lalitpur","value":368,"type":"num"},{"label":"UP - Lucknow","value":380,"type":"num"},{"label":"UP - Maharajganj","value":387,"type":"num"},{"label":"UP - Mahoba","value":394,"type":"num"},{"label":"UP - Mainpuri","value":395,"type":"num"},{"label":"UP - Mathura","value":407,"type":"num"},{"label":"UP - Mau","value":408,"type":"num"},{"label":"UP - Meerut","value":414,"type":"num"},{"label":"UP - Mirzapur","value":416,"type":"num"},{"label":"UP - Moradabad","value":420,"type":"num"},{"label":"UP - Muzaffarnagar","value":429,"type":"num"},{"label":"UP - Philbhit","value":491,"type":"num"},{"label":"UP - Rae Bareli","value":506,"type":"num"},{"label":"UP - Rampur","value":522,"type":"num"},{"label":"UP - Saharanpur","value":540,"type":"num"},{"label":"UP - Sambhal","value":548,"type":"num"},{"label":"UP - Sant Kabeer Nagar","value":552,"type":"num"},{"label":"UP - Sant Ravidas Nagar","value":553,"type":"num"},{"label":"UP - Shahjahanpur","value":565,"type":"num"},{"label":"UP - Shamli","value":567,"type":"num"},{"label":"UP - Shravasti","value":575,"type":"num"},{"label":"UP - Siddharth Nagar","value":577,"type":"num"},{"label":"UP - Sitapur","value":588,"type":"num"},{"label":"UP - Sonbhadra","value":594,"type":"num"},{"label":"UP - Sultanpur","value":609,"type":"num"},{"label":"UP - Unnao","value":654,"type":"num"},{"label":"UP - Varanasi","value":662,"type":"num"},{"label":"WB - Uttar 24 Pargana","value":0,"type":"num"},{"label":"WB - Dakshin 24 Pargana","value":1,"type":"num"},{"label":"WB - Alipurduar","value":12,"type":"num"},{"label":"WB - Bankura","value":56,"type":"num"},{"label":"WB - Birbhum","value":94,"type":"num"},{"label":"WB - Darjeeling","value":143,"type":"num"},{"label":"WB - Uttar Dinajpur","value":171,"type":"num"},{"label":"WB - Hooghly","value":245,"type":"num"},{"label":"WB - Jalpaiguri","value":264,"type":"num"},{"label":"WB - Jhargram","value":279,"type":"num"},{"label":"WB - Maldah","value":397,"type":"num"},{"label":"WB - Purba Medinipur","value":412,"type":"num"},{"label":"WB - Paschim Medinipur","value":413,"type":"num"},{"label":"WB - Murshidabad","value":428,"type":"num"},{"label":"WB - Nadia","value":433,"type":"num"},{"label":"WB - Paschim Bardhaman","value":479,"type":"num"},{"label":"WB - Purba Bardhaman","value":501,"type":"num"},{"label":"WB - Purulia","value":505,"type":"num"},{"label":"WB - Coochbehar","value":133,"type":"num"},{"label":"WB - Kalimpong","value":293,"type":"num"},{"label":"WB - Howrah","value":248,"type":"num"},{"label":"WB - Dakshin Dinajpur","value":170,"type":"num"},{"label":"DH - Daman","value":138,"type":"num"},{"label":"DH - Diu","value":174,"type":"num"},{"label":"DH - Dadra and Nagar Haveli","value":136,"type":"num"},{"label":"DL - Delhi","value":149,"type":"num"},{"label":"PY - Mahe","value":390,"type":"num"},{"label":"PY - Pondicherry","value":493,"type":"num"},{"label":"PY - Karaikal","value":309,"type":"num"},{"label":"PY - Yanam","value":689,"type":"num"},{"label":"LA - Leh","value":372,"type":"num"},{"label":"LA - Kargil","value":312,"type":"num"},{"label":"JK - Samba","value":546,"type":"num"},{"label":"JK - Bandipora","value":53,"type":"num"},{"label":"JK - Doda","value":175,"type":"num"},{"label":"JK - Jammu","value":265,"type":"num"},{"label":"JK - Kathua","value":319,"type":"num"},{"label":"JK - Kishtwar","value":337,"type":"num"},{"label":"JK - Kupwara","value":360,"type":"num"},{"label":"JK - Rajauri","value":513,"type":"num"},{"label":"JK - Reasi","value":529,"type":"num"},{"label":"JK - Udhampur","value":647,"type":"num"},{"label":"JK - Ganderbal","value":205,"type":"num"},{"label":"JK - Ramban","value":520,"type":"num"},{"label":"JK - Baramulla","value":59,"type":"num"},{"label":"JK - Anantnag","value":26,"type":"num"},{"label":"JK - Badgam","value":38,"type":"num"},{"label":"JK - Kulgam","value":358,"type":"num"},{"label":"JK - Poonch","value":494,"type":"num"},{"label":"JK - Pulwama","value":499,"type":"num"},{"label":"JK - Srinagar","value":607,"type":"num"},{"label":"JK - Sophian","value":574,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":80,"y":560,"wires":[["27be3721.93f5c8","b01a5dfa.2c3a4"]]},{"id":"547af696.2f20d8","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"8e77b6af.90ab18","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":320,"wires":[]},{"id":"3a79f673.ed894a","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":460,"wires":[]},{"id":"27be3721.93f5c8","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":580,"wires":[]},{"id":"5e5b5c8a.a40be4","type":"function","z":"7b00cc36.2445f4","name":"global variables for form node","func":"global.set(\"Year\",msg.payload.Year)\nvar apikey=\"6NtDTZQEwJ-LdhmcB64pGNvo9Ptahs4jo1VwfZ9LCtjh\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["43952611.059108"]]},{"id":"c866c0b0.91e78","type":"function","z":"7b00cc36.2445f4","name":"Season","func":"global.set(\"Season_code\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[[]]},{"id":"3dfc0ac8.624556","type":"function","z":"7b00cc36.2445f4","name":"Crop_code","func":"global.set(\"Crop_code\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":400,"wires":[[]]},{"id":"b01a5dfa.2c3a4","type":"function","z":"7b00cc36.2445f4","name":"District_code","func":"global.set(\"District_code\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":520,"wires":[[]]},{"id":"43952611.059108","type":"http request","z":"7b00cc36.2445f4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":180,"wires":[["4d19dfff.8bddc","375c31b7.93706e"]]},{"id":"375c31b7.93706e","type":"function","z":"7b00cc36.2445f4","name":"pre-prediction","func":"var district_code = global.get(\"District_code\")\nvar crop_code = global.get(\"Crop_code\")\nvar season_code = global.get(\"Season_code\")\nvar year = global.get(\"Year\")\nvar token=msg.payload.access_token \nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [\"District_code\", \"Crop_code\", \"Season_code\",\"Year\"],\"values\": [[district_code,crop_code,season_code,year]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":180,"wires":[["a0e005da.a5c0c8","d65626ca.5d0f18"]]},{"id":"a0e005da.a5c0c8","type":"http request","z":"7b00cc36.2445f4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/32e6fa38-f1f5-4b3f-8947-82898b426728/predictions?version=2021-07-28","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":180,"wires":[["40da8ccb.202194","f75f5f05.a0ffb"]]},{"id":"40da8ccb.202194","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"d65626ca.5d0f18","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":60,"wires":[]},{"id":"f75f5f05.a0ffb","type":"function","z":"7b00cc36.2445f4","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":180,"wires":[["b4b1c9c2.ef1ae8","27b39f09.16a6a"]]},{"id":"b4b1c9c2.ef1ae8","type":"debug","z":"7b00cc36.2445f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":60,"wires":[]},{"id":"27b39f09.16a6a","type":"ui_text","z":"7b00cc36.2445f4","group":"55ec1f7b.a17a6","order":14,"width":0,"height":0,"name":"","label":"Yield (in tonnes/hectares)","format":"{{msg.payload}}","layout":"col-center","x":1330,"y":280,"wires":[]},{"id":"55ec1f7b.a17a6","type":"ui_group","name":"Enter the values","tab":"3c41fa87.567ce6","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c41fa87.567ce6","type":"ui_tab","name":"Yield Prediction","icon":"dashboard","disabled":false,"hidden":false}]